# --- Python Virtual Environments ---
# Standard names for virtual environments
.venv/
venv/
env/
ENV/
fradar_processor.egg-info/

# --- Python Cache & Compiled Files ---
__pycache__/
*.py[cod]
*$py.class
pytest*

# --- Application Cache ---
# Specific cache directory used by the application (e.g., map tiles)
cache/
cache/OSM/
cache/animation_tmp/

# --- Application Data ---
# Ignore database files (like the SQLite queue)
*.db
*.db-journal # SQLite journaling files

# --- Logs ---
# Ignore all log files
log/
*.log
*.log.*

# --- Configuration ---
# Ignore user-specific or sensitive configuration files
# Keep tracked template/example files using negation (!)
config/*.yaml
!config/*.yaml.template

# --- Scripts ---
scripts/frad-proc.bat


# --- Generated Output / Binary Files ---
*.png
*.gif
*.mp4

# --- Temporary Files ---
*.ini # Often used for temporary config or state

# --- IDE / Editor Files ---
# Ignore common IDE/editor directories and files
.idea/
.vscode/
*.swp
*~

# Others
argparse*
yaml
sys
*.txt

